In [1]:
import pandas as pd

In [30]:
mar17 = pd.read_csv('JC-201703-citibike-tripdata.csv')
mar17_clean = mar17.rename(columns={"Trip Duration": "tripduration", 
                      "Start Time": "starttime",
                     "Stop Time": "stoptime",
                     "Start Station ID": "start station id",
                     "Start Station Name": "start station name",
                     "Start Station Longitude": "start station longitude",
                     "Start Station Latitude": "start station latitude",
                     "End Station ID": "end station id",
                     "End Station Name": "end station name",
                     "End Station Latitude": "end station latitude",
                     "End Station Longitude": "end station longitude",
                     "Bike ID": "bikeid",
                     "User Type": "usertype",
                     "Birth Year": "birth year",
                     "Gender": "gender"})
mar17_clean.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [20]:
mar18 = pd.read_csv('JC-201803-citibike-tripdata.csv')
mar18.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [21]:
mar19 = pd.read_csv('JC-201903-citibike-tripdata.csv')
mar19.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [22]:
jun19 = pd.read_csv('JC-201906-citibike-tripdata.csv')
jun19.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [24]:
jun18 = pd.read_csv('JC-201806-citibike-tripdata.csv')
jun18.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [23]:
jun17 = pd.read_csv('JC-201706-citibike-tripdata.csv')
jun17.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [25]:
sept17 = pd.read_csv('JC-201709-citibike-tripdata.csv')
sept17.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [9]:
sept18 = pd.read_csv('JC-201809-citibike-tripdata.csv')

In [10]:
sept19 = pd.read_csv('JC-201909-citibike-tripdata.csv')

In [11]:
dec17 = pd.read_csv('JC-201712-citibike-tripdata.csv')

In [12]:
dec18 = pd.read_csv('JC-201812-citibike-tripdata.csv')

In [13]:
dec19 = pd.read_csv('JC-201912-citibike-tripdata.csv')

In [31]:
package= pd.concat([mar17_clean, jun17, sept17, dec17, mar18, jun18, sept18, dec18, mar19, jun19, sept19, dec19], sort=False)
package.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1076,2017-03-01 00:03:02,2017-03-01 00:20:58,3275,Columbus Drive,40.718355,-74.038914,3207,Oakland Ave,40.737604,-74.052478,26283,Subscriber,1991.0,1
1,978,2017-03-01 00:09:02,2017-03-01 00:25:20,3220,5 Corners Library,40.734961,-74.059503,3195,Sip Ave,40.730743,-74.063784,24559,Subscriber,1987.0,1
2,1789,2017-03-01 00:28:11,2017-03-01 00:58:00,3195,Sip Ave,40.730743,-74.063784,3186,Grove St PATH,40.719586,-74.043117,24559,Subscriber,1987.0,1
3,613,2017-03-01 00:52:30,2017-03-01 01:02:44,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26261,Subscriber,1962.0,1
4,2418,2017-03-01 00:54:40,2017-03-01 01:34:59,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26277,Subscriber,1975.0,1

In [18]:
final = package.astype({'birth year': str})
final.dtypes

Trip Duration              float64
Start Time                  object
Stop Time                   object
Start Station ID           float64
Start Station Name          object
Start Station Latitude     float64
Start Station Longitude    float64
End Station ID             float64
End Station Name            object
End Station Latitude       float64
End Station Longitude      float64
Bike ID                    float64
User Type                   object
Birth Year                 float64
Gender                     float64
tripduration               float64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                     float64
usertype                    object
birth year                  object
gender                     float64
dtype: object

In [32]:
package.to_csv('data_union.csv')