In [1]:
import pandas as pd

In [2]:
foodgroup_file = "food_groups.csv"

In [3]:
nutritional_file = 'nutritional_info.csv'

In [4]:
foodgroup_data_df = pd.read_csv(foodgroup_file)
foodgroup_data_df.head()

,ID,FoodGroup,ShortDescrip,Descrip,CommonName,MfgName,ScientificName,Energy_kcal,Protein_g,Fat_g,...,Folate_USRDA,Niacin_USRDA,Riboflavin_USRDA,Thiamin_USRDA,Calcium_USRDA,Copper_USRDA,Magnesium_USRDA,Phosphorus_USRDA,Selenium_USRDA,Zinc_USRDA
0,1001,Dairy and Egg Products,"BUTTER,WITH SALT","Butter, salted",NaN,NaN,NaN,717.0,0.85,81.11,...,0.0075,0.002625,0.026154,0.004167,0.020000,0.000000,0.004762,0.034286,0.018182,0.008182
1,1002,Dairy and Egg Products,"BUTTER,WHIPPED,WITH SALT","Butter, whipped, with salt",NaN,NaN,NaN,717.0,0.85,81.11,...,0.0075,0.002625,0.026154,0.004167,0.020000,0.000018,0.004762,0.032857,0.018182,0.004545
2,1003,Dairy and Egg Products,"BUTTER OIL,ANHYDROUS","Butter oil, anhydrous",NaN,NaN,NaN,876.0,0.28,99.48,...,0.0000,0.000188,0.003846,0.000833,0.003333,0.000001,0.000000,0.004286,0.000000,0.000909
3,1004,Dairy and Egg Products,"CHEESE,BLUE","Cheese, blue",NaN,NaN,NaN,353.0,21.40,28.74,...,0.0900,0.063500,0.293846,0.024167,0.440000,0.000044,0.054762,0.552857,0.263636,0.241818
4,1005,Dairy and Egg Products,"CHEESE,BRICK","Cheese, brick",NaN,NaN,NaN,371.0,23.24,29.68,...,0.0500,0.007375,0.270000,0.011667,0.561667,0.000027,0.057143,0.644286,0.263636,0.236364

In [5]:
nutritional_data_df = pd.read_csv(nutritional_file)
nutritional_data_df.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_K_(Âµg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct
0,1001,"BUTTER,WITH SALT",15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,7.0,51.368,21.021,3.043,215.0,5.00,"1 pat, (1"" sq, 1/3"" high)",14.2,1 tbsp,0.0
1,1002,"BUTTER,WHIPPED,W/ SALT",16.72,718,0.49,78.30,1.62,2.87,0.0,0.06,...,4.6,45.390,19.874,3.331,225.0,3.80,"1 pat, (1"" sq, 1/3"" high)",9.4,1 tbsp,0.0
2,1003,"BUTTER OIL,ANHYDROUS",0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,8.6,61.924,28.732,3.694,256.0,12.80,1 tbsp,205.0,1 cup,0.0
3,1004,"CHEESE,BLUE",42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,2.4,18.669,7.778,0.800,75.0,28.35,1 oz,17.0,1 cubic inch,0.0
4,1005,"CHEESE,BRICK",41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,2.5,18.764,8.598,0.784,94.0,132.00,"1 cup, diced",113.0,"1 cup, shredded",0.0

In [6]:
new_foodgroup_data_df= foodgroup_data_df[['ID', 'FoodGroup','ShortDescrip', 'Descrip', 'Calcium_mg']].copy()
new_foodgroup_data_df.head()

,ID,FoodGroup,ShortDescrip,Descrip,Calcium_mg
0,1001,Dairy and Egg Products,"BUTTER,WITH SALT","Butter, salted",24.0
1,1002,Dairy and Egg Products,"BUTTER,WHIPPED,WITH SALT","Butter, whipped, with salt",24.0
2,1003,Dairy and Egg Products,"BUTTER OIL,ANHYDROUS","Butter oil, anhydrous",4.0
3,1004,Dairy and Egg Products,"CHEESE,BLUE","Cheese, blue",528.0
4,1005,Dairy and Egg Products,"CHEESE,BRICK","Cheese, brick",674.0

In [7]:
new_nutritional_data_df= nutritional_data_df[['NDB_No', 'Shrt_Desc','Water_(g)', 'Energ_Kcal', 'Protein_(g)', 'Lipid_Tot_(g)','Carbohydrt_(g)','Sugar_Tot_(g)','Cholestrl_(mg)' ]].copy()
new_nutritional_data_df.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Carbohydrt_(g),Sugar_Tot_(g),Cholestrl_(mg)
0,1001,"BUTTER,WITH SALT",15.87,717,0.85,81.11,0.06,0.06,215.0
1,1002,"BUTTER,WHIPPED,W/ SALT",16.72,718,0.49,78.30,2.87,0.06,225.0
2,1003,"BUTTER OIL,ANHYDROUS",0.24,876,0.28,99.48,0.00,0.00,256.0
3,1004,"CHEESE,BLUE",42.41,353,21.40,28.74,2.34,0.50,75.0
4,1005,"CHEESE,BRICK",41.11,371,23.24,29.68,2.79,0.51,94.0

In [14]:
new_nutritional_data_df=new_nutritional_data_df.rename(columns= {"NDB_No":"ID", "Shrt_Desc": "ShortDescrip", "Lipid_Tot_(g)" :"Fat_(g)"})

In [10]:
healthy_foodgroup_data_df =new_foodgroup_data_df[new_foodgroup_data_df['Calcium_mg'] <=1500]
healthy_foodgroup_data_df.head()

,ID,FoodGroup,ShortDescrip,Descrip,Calcium_mg
0,1001,Dairy and Egg Products,"BUTTER,WITH SALT","Butter, salted",24.0
1,1002,Dairy and Egg Products,"BUTTER,WHIPPED,WITH SALT","Butter, whipped, with salt",24.0
2,1003,Dairy and Egg Products,"BUTTER OIL,ANHYDROUS","Butter oil, anhydrous",4.0
3,1004,Dairy and Egg Products,"CHEESE,BLUE","Cheese, blue",528.0
4,1005,Dairy and Egg Products,"CHEESE,BRICK","Cheese, brick",674.0

In [16]:
healthy_nutritional_data_df =new_nutritional_data_df[(new_nutritional_data_df['Water_(g)']<=708) & (new_nutritional_data_df['Energ_Kcal']<=2500) & 
(new_nutritional_data_df['Protein_(g)']<=72) & (new_nutritional_data_df['Fat_(g)']<=77) & (new_nutritional_data_df['Carbohydrt_(g)']<=325) & (new_nutritional_data_df['Sugar_Tot_(g)']<=38) &
(new_nutritional_data_df['Cholestrl_(mg)']<=400)]

In [18]:
healthy_nutritional_data_df.head()

,ID,ShortDescrip,Water_(g),Energ_Kcal,Protein_(g),Fat_(g),Carbohydrt_(g),Sugar_Tot_(g),Cholestrl_(mg)
3,1004,"CHEESE,BLUE",42.41,353,21.40,28.74,2.34,0.50,75.0
4,1005,"CHEESE,BRICK",41.11,371,23.24,29.68,2.79,0.51,94.0
5,1006,"CHEESE,BRIE",48.42,334,20.75,27.68,0.45,0.45,100.0
6,1007,"CHEESE,CAMEMBERT",51.80,300,19.80,24.26,0.46,0.46,72.0
8,1009,"CHEESE,CHEDDAR",37.02,404,22.87,33.31,3.09,0.48,99.0

In [ ]:
table1 =